::-moz-selection {
  background: #d8a2c2;
}

::selection {
  background: #d8a2c2;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: #9D8189;
  font-family: 'Muli', sans-serif;
}

p {
  text-indent: 20px;
  font-size: 17px;
  line-height: 30px;
  opacity: 0.6;
}

h1, h2, h3 {
  font-weight: 100;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 70px;
  letter-spacing: 2px;
  color: #d8a2c2;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  padding: 50px 100px;
  background-color: #FFE5D9;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 200px;
  margin-bottom: 200px;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
  -webkit-box-shadow: 0px 0px 73px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 73px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 73px -10px rgba(0, 0, 0, 0.75);
}

.dear {
  padding-left: 50px;
  margin-bottom: -30px;
}

.sig, .yours {
  text-align: right;
  padding-right: 100px;
  margin-top: -50px;
}

.sig {
  padding-right: 150px;
  font-size: 80px;
}
