@import 'mixins';
@import 'jun-sheet-colors';
@import 'sheet';

body {
  background: url(http://www.hdwallpapers.in/walls/underwater_5k-wide.jpg);
  background-attachment: fixed;
  background-size: cover;
}